<div class="container" style="margin-top: 5%;text-align: center;">
  <h1 class="page-header">Welcome {{username}}!</h1>
  <h1 class="page-header">Here are the most recent posts:</h1>
  <div class="row" style="margin-top: 5%;">
    <ul class="list-group">
      {{#each posts as |post|}}
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{post.title}}
              By
              <span class="username">@{{post.OP.username}}</span>
            </p>
            {{#if post.postOwner}}
            <button id="{{post.post_id}}" class="deletePost delete is-large"></button>
            {{/if}}
          </header>
          <div class="card-content">
            <div class="content">
              <p class="comment-body">{{post.content}}</p>
              <time class="post-time">{{formatDate post.date_created}}</time>

            </div>
          </div>
          <div class="accordion">
              <div class="accordion-item">
            <footer class="card-footer accordion-item-header">
              <p class="card-header-title">
                Comments({{post.comments.length}})
              </p>
            </footer>
            <hr />
              <div class="comments accordion-item-body">
                {{#each comments as |comment|}}
                  <div class="card-body">
                    <h6 class="comment-body">{{comment.content}}</h6>
                    <h7 class="commenter-name">By
                      {{comment.commenter.username}}</h7>

                  </div>
                  <h7 class="commenter-name">
                    {{formatDate comment.date_created}}</h7>
                  <hr />
                {{/each}}
              </div>
            <form class="formSub" id="{{post.post_id}}">
              <div class="form-group">
                <h6 class="post-time">Leave a comment:</h6>
                <div class="control">
                  <textarea
                    id="comment"
                    class="textarea has-fixed-size"
                    placeholder="Enter a comment here..."
                  ></textarea>
                </div>
              </div>
              <button
                type="submit"
                id="{{post.post_id}}"
                class="button is-warning is-light is-fullwidth"
              >Submit</button>
            </form>
            </div>
          </div>
        </div>
        <br />
      {{/each}}
    </ul>
  </div>
</div>
{{#if loggedIn}}
  <script src="js/createComment.js"></script>
  <script src="js/createPost.js"></script>
  <script src="js/deletePost.js"></script>
  <script src="js/accordion.js"></script>
{{/if}}