<div class="container" style="margin-top: 5%;text-align: center;">
    <h1 id="business_name">Tech Blog Posts</h1>
                        <form style="margin-left: 3%;" id="postSub">
                        <div class="form-group" style="margin-top: 5%;">
                            <h6>Create a new post!</h6>
                            <h7>Title:</h7>
                            <textarea class="form-control" name="title" id="title" rows="1"></textarea>
                            <h7>Post:</h7>
                            <textarea class="form-control" name="post" id="post" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary"
                            style="margin-top: 3%;">Submit</button>
                    </form>
    <div class="row" style="margin-top: 5%;">
        <div class="col-md-12">
            <ul class="list-group">
                {{#each posts as |post| }}
                {{#if post.postOwner}}
                <a href=""><i class="fas fa-times"></i></a>
                {{/if}}
                <div class="card" style="width: 20rem; float:none; margin: 0 auto; margin-bottom:10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By {{post.OP.username}}</h6>
                        <p class="card-text">{{post.content}}</p>
                    </div>
                    {{#each comments as |comment|}}
                    <div class="card" style="width: 18rem; float:none; margin: 0 auto; margin-bottom:10px;">
                        <div class="card-body">
                            <h6 class="card-title">{{comment.content}}</h6>
                            <h7 class="card-subtitle mb-2 text-muted">By {{comment.commenter.username}}</h7>
                        </div>
                    </div>
                    {{/each}}
                    <form style="margin-left: 3%;" class="formSub" id="{{post.post_id}}">
                        <div class="form-group" style="margin-top: 5%;">
                            <h6>Leave a comment:</h6>
                            <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary" id="{{post.post_id}}"
                            style="margin-top: 3%;">Submit</button>
                    </form>
                </div>
                <br>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
{{#if loggedIn}}
<script src="js/createComment.js"></script>
<script src="js/createPost.js"></script>
{{/if}}